/* font style  */
@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body{
    font-family: "Azeret Mono", monospace;
}

/* navigation start here  */

nav{
    display: flex;
    justify-content: space-between;
    margin: 40px 100px;
    background: #FFFFFF;

}

.abdullah{
    font-weight: bolder;
}

button{
    border: 1px solid #3D424D;
    padding: 13px 24px 13px 24px;
    border-radius: 5px;

}

/* navigation end here */


/* banner start here */


.background{
    max-width: 1240px;
    max-height: 650px;
    background-size: cover;
    background-repeat: no-repeat;
}
