/* font style  */
@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body{
    font-family: "Azeret Mono", monospace;
}

p{
    font-size: 12px;
    font-weight: 500;
}

/* navigation start here  */

nav{
    display: flex;
    justify-content: space-between;
    margin: 40px 100px;
    background: #FFFFFF;

}

.abdullah{
    font-weight: bolder;
}

button{
    border: 1px solid #3D424D;
    padding: 13px 24px 13px 24px;
    border-radius: 5px;

}

/* navigation end here */


/* banner start here */

.banner{
    background-image: url(../assets/Hero-bg.png);
    background-position: center;
    position: cover;
    height: 450px;
}
.main-header {
    display: flex;
    justify-content: center;
    align-items: center; 
}

.main-header img{
    margin: 0 auto;
    margin-bottom: 10px;
    margin-left: 42%;
    size: 280px;
} 
.banner h1{
    font-size: 40px;
    font-weight: 800;
    text-align: center;
    margin-top: 10px;
}

.banner-title {
    font-size: 13px;
    font-weight: 380;
    text-align: center;
    margin-top: 10px;
}
.banner button{
    margin: 0 auto;
    text-align: center;
    margin-top: 10px;
    border-radius: 10px;
    background-color:#0D1321;
    color: #FFFFFF;
    padding: 21px 24px;
    margin-left: 45%;
}

/* banner done  */

/* main section start  */


.main-why-web-development-section{
    margin: 40px 100px;
}

.why-web-title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: 80px 0 20px 0;
} 

.title-h2{
    padding-bottom: 15px;
}

.section1{
    padding: 20px;
    background-color: #FDFDFE;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    text-align: left;
    margin: 18px;
}

.section1-leftside{
    padding-top: 12%;
}

.section1-leftside-text{
    padding-top: 20px;
    padding-bottom: 20px;
}


.section2{
    display: flex;
    justify-content: center;
    text-align: right;
    margin-top: 18px;
    padding: 20px;
    background-color: #FDFDFE;
    border-radius: 5px;
}

.section2-rightside{
    padding-top: 12%;
}

.section2-rightside-text{
    padding-top: 20px;
    padding-bottom: 20px;

}


.section3{
    padding: 20px;
    background-color: #FDFDFE;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    text-align: left;
    margin: 18px;
}

.section3-leftside{
    padding-top: 12%;
}

.section3-leftside-text{
    padding-top: 20px;
    padding-bottom: 20px;
}

/* main section end */

/* insprition section start here */

.header-insprition-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: 80px 0 20px 0;
}

.my-insprition{
    padding-bottom: 15px;
}

.main-insprition-section{
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    margin-top: 15px;
}
.vidoe{
    border-radius: 15px;
    padding: 5px;
    border: 1px solid rgba(13, 19, 33, 0.2);
    width: 80%;
    margin: 0 auto;

}
/* insprITION END HERE  */

/* current terget start here  */

.my-current-terget{
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    margin-top: 35px;
    margin-bottom: 25px;
}

.current-heading{
    padding-bottom: 15px;
}


.target-html{
    background-color: #FFF6F4;
    padding: 20px;
    width: 26%;
}

.target-css{
    background-color: rgba(0, 76, 232, 0.05);;
    margin: solid;
    padding: 20px;
    width: 26%;
}

.target-java{
    background-color: rgba(255, 223, 0, 0.05);;
    margin: solid;
    padding: 20px;
    width: 26%;
}

.current-target-box{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 80%;
    margin: 0 auto;
    margin-bottom: 40px;
}

/* support start here 
 */

 .support-section{
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 30px;
    background-image: url(../assets/handshake.jpg);
    width: 80%;
    background-size: cover;
    background-position: center;
    border-radius: 5px;
    margin: 0 auto;

}
.text-input{
    box-sizing: border-box;
    border-radius: 8px;
    width: 310px;
    height: 30px;
}
.submit{
    box-sizing: border-box;
    border-radius: 8px;
    width: 80px;
    height: 30px;
}

/* support section end  */


footer{
    display: flex;
    text-align: center;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;
    margin-top: 20px;
}